<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    
    
    
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    
  <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
  
  <script src="/static/jquery.ui.touch-punch.min.js"></script>
  
  
    <script>
    $( document ).ready( function(event){
        
      var d = $('#xx').sortable({
        axis: "y",
        opacity: 0.5,
        attribute: "data-id",
        update: function(event,ui){
        
         var index_ = ui.item.attr("data-id")+ui.item.index();
         
          $.getJSON("/test",{
          data_:index_
          },function(data){
          
     $("p").text(data.res);
     });
          
        }
        });
        
        event.preventDefault();
    });
    </script>

    <title>Hello, world!</title>
  </head>
  <body>
  
    <p>Hello, world!</p>
 
 
   
 <ul class="list-group" id="xx">
 
 {% set color = ["danger","danger","danger","primary","primary","primary","success","success","success","info","secondary"] %}

 
 {% for index in range(10) %}
   
  <li data-id={{ index }} class="list-group-item list-group-item-{{ color[index] }}">{{index}}simple primary list group item</li>
  
  {% endfor %}
 


</ul>

  </body>
</html>
